.Rproj.user
.Rhistory
.RData
.Ruserdata
RNA_quantification_PHD2KO_Achilles_Tail_GM.xlsx
Greta_150921_Mousecells_VHLKO -  Quantification Summary.xlsx
Greta_150921_Mousecells_VHLKO -  Quantification Cq Results.xlsx
210913_pcr_2Dstretch5_copy.R
Greta_150921_Mousecells_VHLKO -  Quantification Cq Results WTF.xlsx
Greta_150921_Mousecells_VHLKO -  Quantification Summary.csv
concept.R
rel_gene_expression.csv
